body {
  margin: 0;
  padding: 0;
  background-color: #151515;
}
ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}
.header {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bar {
  display: none;
}
.logo {
  font-size: 32px;
  font-family: 'DM Serif Display', serif;
  padding: 10px;
  color: #000000;
}
.main1 ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

.main1 ul li {
  font-size: 1.3em;
  list-style: none;
  padding: 10px 10px;
}
.main1 .header .menu_left li {
  transition: transform 0.5s ease;
}
.main1 .header .menu_left li :hover {
  transform: scale(1.1);
  text-decoration: underline;
}

.header-img {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  overflow: hidden;
}
.header-img li {
  align-items: center;
}
.header-img li a {
  font-size: 1.3em;
  list-style: none;
  padding: 10px 10px;
  display: inline-block;
  height: 60px;
  transition: transform 1s ease;
}
.header-img li a:hover {
  transform: scale(1.1);
  text-decoration: underline;
}

.menu_left {
  margin-left: -290px;
}
.menu_left li a {
  color: #000000;
}
.menu_right {
  font-size: 15px;
  gap: 0px;
}
.menu_right li a {
  color: #000000;
}
/* 헤더 이미지 */
.header-img {
  position: relative; /* 배경 이미지를 가진 컨테이너 */
  width: 100%; /* 전체 너비를 취함 */
  height: 350px; /* 높이 설정, 필요에 따라 조정 가능 */
  background-image: url('./image/woman_2.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* 텍스트 중앙 정렬 */
}

.area-title {
  font-size: 6em; /* 제목 크기 설정 */
  color: #ffffff;
  margin-bottom: 20px;
  font-family: 'DM Serif Display', serif;
  font-style: italic;
  margin-top: 100px;
}

.header-nav {
  display: flex; /* 가로 정렬 */
  margin-top: 20px;
  gap: 10px; /* 메뉴 아이템 사이의 간격을 조정 */
}

.header-nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  height: 60px;
}

.header-nav li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  height: 100%; /* 부모의 높이를 꽉 채움 */
}

.header-nav li {
  color: #ffffff; /* 메뉴 항목 색상 */
  padding: 10px 30px; /* 패딩 설정 */
}
.button {
  display: flex;
  color: #ffffff;
  gap: 10px;
  justify-content: end;
  max-width: 1440px;
}
/* 카드 */
.card {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.card i {
  position: relative;
  font-size: 2.3em;
  margin-top: -40px;
  margin-left: 380px;
  color: #ffffff;
}
.store-card {
  display: flex;
  flex-direction: column;
  width: 420px; /* 카드의 너비를 지정 */
}

.store-image {
  width: 420px; /* 이미지의 너비를 지정 */
  height: 400px; /* 이미지의 높이를 지정 */
  object-fit: cover; /* 이미지가 비율을 유지하면서 요소 크기에 맞춰 조절됨 */
  object-position: center; /* 이미지가 요소의 중앙에 위치하도록 조절 */
}

.store-info {
  width: 420px; /* 설명 칸의 너비를 지정 */
  height: 300px; /* 설명 칸의 높이를 지정 */
  padding: 15px; /* 내부 여백을 추가 */
  box-sizing: border-box; /* padding을 너비와 높이에 포함 */
  background-color: #f5f5f5; /* 배경색 지정 */
}
.store-info p {
  color: #757575;
  font-size: 1em;
  margin: 10px 0px;
}

/* 해시태그 스타일 */
.store-tags {
  display: flex;
  margin-top: 5px;
  padding: 0px;
  color: #9e9e9e;
}
/*페이지 이동*/
.bottom {
  color: #ffffff;
}
.bottom ul {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  gap: 15px;
}
.bottom ul li:hover {
  text-decoration: underline;
}
/* 푸터 */
.footer {
  background-color: #424242; /* 백그라운드 이미지 경로 */
  color: #ffffff;
  text-align: left;
  padding: 10px 0;
  height: 200px;
}
.footer h3 {
  margin: 0;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  max-width: 1200px;
  margin: auto;
  height: 100%;
}

.footer-column {
  height: 100%;
  margin-top: 15px;
  box-sizing: border-box;
  overflow: hidden;
}
.footer-border {
  height: 130px;
  padding-right: 20px;
  margin: auto;
  border-right: 2px solid #aaaaaa;
}
.footer-column h3 {
  margin-bottom: 15px;
}

.footer-column p {
  margin-bottom: 5px;
}

.footer-column a {
  color: #ffffff; /* 링크 텍스트 색상 */
  text-decoration: none; /* 밑줄 제거 */
}

.footer-column::after {
  content: '';
  display: block;
  width: 2px;
  height: 100%;
  background-color: #868686;
  position: absolute;
  right: 0;
  top: 0;
}
.footer-border i {
  font-size: 24px; /* 아이콘 크기 조정 */
  margin-right: 50px;
}
/* 미디어 */
@media (max-width: 767px) {
  .button {
    display: none;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 세로 중앙 정렬 */
  }
  .header-nav li {
    padding: 0px 5px;
  }
  .header-nav {
    gap: 0;
  }

  .header .logo {
    flex-grow: 1; /* 로고가 남은 공간을 채우도록 함 */
    text-align: center; /* 텍스트를 중앙으로 정렬 */
    margin-left: 0; /* 왼쪽 마진 제거 */
    margin-right: auto; /* 로고와 오른쪽 요소 사이의 공간을 자동으로 조정 */
    font-size: 3em;
  }
  .header .menu_left {
    display: none;
    position: absolute;
    background-color: #ffffff; /* 배경색을 헤더의 배경색과 일치시킵니다. */
    z-index: 1000; /* 다른 요소들 위에 표시됩니다. */
    top: 100px; /* .header의 높이에 따라 조정하세요. */
    left: 0;
    width: 100%; /* 전체 너비 */
  }
  /* 스토어 이미지 */
  .store-card {
    width: 360px;
  }
  .store-image,
  .store-info {
    width: 360px;
    justify-content: center;
  }
  .card i {
    margin-left: 320px;
  }

  /* .bar:hover 상태에서 .menu_left를 표시합니다. */
  .bar:hover + .menu_left {
    display: block;
  }

  .bar {
    display: flex; /* 모바일 뷰에서 아이콘 표시 */
    order: -1; /* 이를 통해 .fa-bars를 왼쪽으로 이동 */
    padding: 10px; /* 적절한 여백을 제공 */
    color: #000000; /* 아이콘 색상 설정 */
    align-self: center; /* 세로 중앙 정렬 */
    font-size: 24px;
    margin-left: 30px;
  }
  .header .menu_right {
    margin-right: 30px;
  }
  .header .menu_right li:nth-child(1),
  .header .menu_right li:nth-child(2) {
    display: none; /* 모바일에서는 일부 메뉴 항목을 숨김 */
  }
  .card {
    gap: 0;
  }
  .footer-border p {
    margin: 0;
  }
  .footer-border i {
    margin: 10px;
  }
}
